body {
    background: url("background.png") right top no-repeat, linear-gradient(180deg, #deeaf4 0%, #ffffff 100%)
}

.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 5px;
}

div {
    display: flex;
    margin-bottom: 5px;
}
div>div {
    flex-direction: column;
}